@import 'config';
@import 'menu';


*{
    box-sizing: border-box;
}

body{
    @include background();
    background: $primary-color;
    color:set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//Headings
h1,
h2,
h3{
    margin:0;
    font-weight: 400;

    &.lg-heading{
        font-size:6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }

}

a{
    color:#fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color:$secondary-color;
}

main{
    padding: 4rem;
    height: 100%;
    min-height: calc(100vh - 60px);

    .icons{
        margin-top: 1rem;
        a{
            padding: 0.4rem;
            &:hover{
                color:$secondary-color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}


//Menu Overlay
.menu{
    position:fixed;
    top:0;
    width: 100%;
    opacity:0.98;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    &-branding, &-nav{
        display: flex;
        flex-flow:column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        background:darken($primary-color, 5);
        list-style: none;
        @include easeOut();
        transform: translate3d(0, -100%, 0);

        &.show{
            //Slide in from top
            transform: translate3d(0, 0, 0);
        }
    }

    //Branding Side

    &-branding{
        background:$primary-color;
        @include easeOut();
        transform: translate3d(0, 100%, 0);
        &.show{
            //Slide in from bottom
            transform: translate3d(0, 0, 0);
        }

        .portrait{
            width: 300px;
            height: 300px;
            background: url(/dist/img/portrait.jpg) center no-repeat;
            border-radius: 50%;
            border: 3px solid $secondary-color;
        }

    }

    .nav-item{
        transform: translate3d(600px,0,0);
        @include easeOut();

        &.show{
            //Slide in from right
            transform: translate3d(0, 0, 0);
        }

        &.current>a{
            color:$secondary-color;
        }

       
    }

    .nav-link{
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 400;
        color:set-text-color($primary-color);
        text-decoration: none;
        @include easeOut();

        &:hover{
            color:$secondary-color;
         }
    }
}

//Delay each nav item slide 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}



//About section page

.about-info{
    display: grid;
    grid-gap:30px;
    grid-template-areas:
     'bioimage bio bio'
      'job1 job2 job3';
      grid-template-columns:repeat(3, 1fr);

      .bio-image{
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1{
        grid-area: job1;
    }
    
    .job-2{
        grid-area:job2;
    }
    
    .job-3{
        grid-area: job3;
    }
    
    .job{
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color,10);
    color:set-text-color($primary-color);
    height: 60px;
}

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 30px;
    display: grid;
    grid-gap:30px;
    grid-template-areas:
     ' card1 card2  card 3 ';
      grid-template-columns:repeat(3, 1fr);
      

    .card{
        @extend %center;
        position: relative;
        width: 250px;
        height: 330px;
        border-radius: 10px;
        background-color: rgba(0,0,0,.5);
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        transition: .5s ease;
        place-self: center;

        &:hover{
            transform: translatey(-15px);
            box-shadow: 0 15px 30px rgba(0,0,0, .5);

            .number{
                h2{
                    color:#fff;
                    font-size: 50px;

                    span{
                        color:#fff;
                    }
                }
            }

            h3{
                color:#fff;
            }

        }

        &:before{
            content:'';
            position:absolute;
            top: 0;
            right: -50%;
            width: 100%;
            height: 100%;
            background-color:rgba(255,255,255,.03);
            pointer-events: none;
        }
    }

    .percent{
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: inset 0 0 50px #000;
        background-color: #222;
        z-index: 1;

        h3{
            color:#777;
            margin-top: 16px;
            font-size: 22px;
            transition: .5s ease;
        }

        .number{
            @extend %center;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            h2{
                color:#777;
                font-size: 44px;
                transition: .5s ease;

                span{
                    color:#777;
                    padding-left: 3px;
                    font-size: 24px;
                    transition: .5s ease;
                }     
            }
        }

       

        svg{
            position: relative;
            width: 150px;
            height: 150px;
            transform: rotate(-85deg);

            circle{
                width: 100%;
                height: 100%;
                fill:none;
                stroke: #191919;
                stroke-width: 10;
                stroke-linecap: round;
                transform: translate(5px, 5px);

                &:nth-child(2){
                    stroke-dasharray:440;
                    stroke-dashoffset:440;
                }
            }
        }
    }

    .card{
        &:nth-child(1){
            svg{
                circle{
                    &:nth-child(2){
                        stroke-dashoffset: calc(440 - (440 * 90) / 100);
                        stroke: #63e2ff;
                    }
                }
            }
        }

        &:nth-child(2){
            svg{
                circle{
                    &:nth-child(2){
                        stroke-dashoffset: calc(440 - (440 * 80) / 100);
                        stroke: #d9e021;
                    }
                }
            }
        }

        &:nth-child(3){
            svg{
                circle{
                    &:nth-child(2){
                        stroke-dashoffset: calc(440 - (440 * 60) / 100);
                        stroke: #ed1e79;
                    }
                }
            }
        }
    }

    
}

// Work/Projects

.projects{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    

    img{
        width: 100%;
        border: 3px solid #fff;

        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

//Contact Page
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div{
        font-size: 2rem;
        border:3px solid white;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color:set-text-color($secondary-color);
            span{
                color:set-text-color($secondary-color);
            }
        }
    }
}

//Button Styles
.btn{
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;

    &:hover{
        background: $secondary-color;
        color:set-text-color($primary-color);
    }
}

.btn-dark{
    @extend .btn;
    background: darken($primary-color, 15);
    color:#fff;
}

.btn-light{
    @extend .btn;
    background: lighten($secondary-color, 50);
    color: #333;
}


@import 'mobile';